<div class="page-header" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url('./assets/img/bg6.jpg');"></div>
    <div class="container">
        <div class="content-center brand">
            <h1 class="h1-seo">Career at {{career.title}}</h1>
            <h3>{{career.slog}}</h3>
                <form class="form" method="" action="">
                <div class="content">
                    <div class="input-group form-group-no-border input-md">
                        <span class="input-group-addon">
                            <i class="now-ui-icons ui-1_zoom-bold"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Search" ng-mode='search'/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="main">
<div class="section section-tabs">
 <div class="container">
     <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12 ml-auto mr-auto">
                <p class="category">Career Available</p>
                <!-- Tabs with Background on Card -->
                <div class="card">
                    <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                        <li class="nav-item" ng-repeat = "car in career.position">
                            <a class="nav-link {{car.status_tab}}" data-toggle="tab" href="{{car.id}}" target="_self" role="tab">{{car.name}}</a>
                        </li>
                    </ul>
                    <div class="card-body">
                        <!-- Tab panes -->
                        <div class="tab-content text-center">
                            <div ng-repeat="job in career.job" class="tab-pane {{job.status_tab}}" id="{{job.id}}" role="tabpanel">
                                <h4>Departement : {{job.dept_name}}</h4>
                                <p>{{job.desc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Tabs on plain Card -->
            </div>
        </div>
    </div>
</div>
</div>