<div class="page-header" style="height: 80px;">
    <!-- <div class="page-header-image" data-parallax="true" style="background-image: url('./assets/img/bg6.jpg');"></div>
    <div class="container">
        <div class="content-center brand">
            <h1 class="h1-seo">admin at {{career.title}}</h1>
            <h3>{{career.slog}}</h3>
                <form class="form" method="" action="">
                <div class="content">
                    <div class="input-group form-group-no-border input-md">
                        <span class="input-group-addon">
                            <i class="now-ui-icons ui-1_zoom-bold"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Search" ng-mode='search'/>
                    </div>
                </div>
            </form>
        </div>
    </div> -->
</div>
<div class="main" >
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-12">
                    <div class="fixed-section" style="height: 350px">
                    <span class="title">HRIS Master</span>
                        <ul>
                            <li><a class="active" href="#master" data-toggle="collapse" target="_self">Master</i></a>
                                <ul id="master" class="collapse" style="padding-left: 10% ">
                                    <li><a href="#/hris">Plant</a></li>
                                    <li><a href="#/hris">Departement</a></li>
                                    <li><a href="#/hris">Absensi</a></li>
                                    <li><a href="#/hris">Gaji</a></li>
                                </ul>
                            </li>
                            <li><a href="#recruitment" data-toggle="collapse" target="_self">Recruitment</a>
                                <ul id="recruitment" class="collapse" style="padding-left: 10% ">
                                    <li><a href="#/hris">Recruitment</a></li>
                                    <li><a href="#/hris">Karyawan</a></li>
                                </ul>
                            </li>
                            <li><a href="#/hris">payroll</a></li>
                            <li><a href="#/hris">Report</a></li>
                            <!-- <li><a class="active" href="#/page_career">Career</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12">
                    <a href="#/administrator">Administrator</a> > <span class="title">HRIS Master</span>
                    <hr>
                    <div class="container">
                        <h5>List Pelamar</h5>
                        <div class="card" style="width:20%">
                          <img class="card-img-top" src="./assets/img/img_avatar3.png" alt="Card image">
                          <div class="card-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                          </div>
                        </div>
                        <div class="card" style="width:20%">
                          <img class="card-img-top" src="./assets/img/img_avatar5.png" alt="Card image">
                          <div class="card-body">
                            <h4 class="card-title">Eva</h4>
                            <p class="card-text">Some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>