<div class="page-header" style="height: 80px;">
    <!-- <div class="page-header-image" data-parallax="true" style="background-image: url('./assets/img/bg6.jpg');"></div>
    <div class="container">
        <div class="content-center brand">
            <h1 class="h1-seo">admin at {{career.title}}</h1>
            <h3>{{career.slog}}</h3>
                <form class="form" method="" action="">
                <div class="content">
                    <div class="input-group form-group-no-border input-md">
                        <span class="input-group-addon">
                            <i class="now-ui-icons ui-1_zoom-bold"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Search" ng-mode='search'/>
                    </div>
                </div>
            </form>
        </div>
    </div> -->
</div>
<div class="main" >
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-12">
                    <div class="fixed-section" style="height: 350px">
                        <span class="title">Master</span><br/>
                        <ul>
                            <li><a class="active" href="#/master_product">Master Product</a></li>
                            <li><a href="#/master_category">Master Category</a></li>
                            <!-- <li><a class="active" href="#/page_career">Career</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12">
                    <a href="#/administrator">Administrator</a> > <span class="title">Master Product</span>
                    <hr>
                    <div class="container">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#dlgProduct"  ng-click="newProduct()"><i class="now-ui-icons ui-1_simple-add"></i> <!-- data-target="#dlgCategory" -->
                          Add Product
                        </button>

                        <div class="modal fade" id="dlgProduct">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                              <!-- Modal Header -->
                              <div class="modal-header">
                                <span class="modal-title">Entry Category</span>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                              </div>

                              <!-- Modal body -->
                              <div class="modal-body">
                                <div class="alert {{alertType}} alert-dismissible fade show"  ng-show="alertType">
                                    <button type="button" class="close" data-dismiss="alert" ng-click="closemsg()">&times;</button>
                                    <strong>Information!</strong> {{alert}}
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-4">
                                        Part No.
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="form-group">
                                            <!-- <label>Title Page</label> -->
                                            <input type="text" value="" placeholder="Part No." class="form-control" ng-model="part_no"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-4">
                                        Part Name
                                    </div>
                                    <div class="col-sm-6 col-lg-8">
                                        <div class="form-group">
                                            <!-- <label>Title Page</label> -->
                                            <input type="text" value="" placeholder="Part Name" class="form-control" ng-model="part_name"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-4">
                                        Category
                                    </div>
                                    <div class="col-sm-6 col-lg-8">
                                        <div class="form-group">
                                            <!-- <label>Title Page</label> -->
                                            <!-- <input type="text" value="" placeholder="Category Name" class="form-control" ng-model="category_name"/> -->
                                            <!-- <select class="form-control" ng-model="category" ng-options="x for x in names"></select> -->
                                            <select ng-model="category" class="form-control" placeholder="-select categoty-">
                                                <option ng-repeat="x in names" value="{{x.code_category}}">{{x.code_category}} ( {{x.category_name}} )</option>
                                            </select>
                                            <!-- {{category}} -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-4">
                                        Description
                                    </div>
                                    <div class="col-sm-6 col-lg-8">
                                        <div class="form-group">
                                            <!-- <label>Title Page</label> -->
                                            <input type="text" value="" placeholder="description" class="form-control" ng-model="category"/>
                                        </div>
                                    </div>
                                </div>
                                
                              </div>

                              <!-- Modal footer -->
                              <div class="modal-footer">
                                <button type="button" class="btn" ng-click="saveProduct()">Save</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              </div>

                            </div>
                          </div>
                        </div>

                        <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="font-size: 12px;">ITEM NO</th>
                                    <th style="font-size: 12px;">ITEM NAME</th>
                                    <th style="font-size: 12px;">CATEGORY</th>
                                    <th style="font-size: 12px;">PRODFAM</th>
                                    <th style="font-size: 12px;">SPESIFICATION</th>
                                    <th style="font-size: 12px;">ACTION</th>
                                </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="cat in categories">
                                <td style="font-size: 11px;">{{ cat.code_category }}</td>
                                <td style="font-size: 11px;">{{ cat.category_name }}</td>
                                <td style="font-size: 11px;">{{ cat.last_update }}</td>
                                <td style="font-size: 11px;"></td>
                                <td style="font-size: 11px;"></td>
                                <td style="font-size: 11px;">EDIT | DELETE</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>