<div class="page-header" style="height: 80px;">
    <!-- <div class="page-header-image" data-parallax="true" style="background-image: url('./assets/img/bg6.jpg');"></div>
    <div class="container">
        <div class="content-center brand">
            <h1 class="h1-seo">admin at {{career.title}}</h1>
            <h3>{{career.slog}}</h3>
                <form class="form" method="" action="">
                <div class="content">
                    <div class="input-group form-group-no-border input-md">
                        <span class="input-group-addon">
                            <i class="now-ui-icons ui-1_zoom-bold"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Search" ng-mode='search'/>
                    </div>
                </div>
            </form>
        </div>
    </div> -->
</div>
<div class="main" >
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-12">
                    <div class="fixed-section" style="height: 350px">
                        <span class="title">Page Menu</span><br/>
                        <ul>
                            <li><a class="active" href="#/page_index">Home</a></li>
                            <li><a href="#/page_product">Product</a></li>
                            <li><a href="#/page_career">Career</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12">
                    <a href="#/administrator">Administrator</a> > <span class="title">Page Home</span>
                    <hr>
                    <div class="container">
                        <h4 class="title">Home Page</h4>
                        <div id="inputs">
                            <div class="row">
                                <div class="col-sm-6 col-lg-3">
                                    Title Page
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="form-group">
                                        <!-- <label>Title Page</label> -->
                                        <input type="text" value="" placeholder="Title Page" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-lg-3">
                                    Descript
                                </div>
                                <div class="col-sm-6 col-lg-8">
                                    <div class="form-group">
                                        <!-- <label>Title Page</label> -->
                                        <input placeholder="Description" class="form-control" /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-lg-3">
                                    Link Video
                                </div>
                                <div class="col-sm-6 col-lg-8">
                                    <div class="form-group">
                                        <!-- <label>Title Page</label> -->
                                        <input type="text" value="" placeholder="Video" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-lg-3">
                                    Logo
                                </div>
                                <div class="col-sm-6 col-lg-8">
                                    <div class="form-group">
                                        <!-- <label>Title Page</label> -->
                                        <input type="file" value="" placeholder="Logo" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-lg-3">
                                    Background
                                </div>
                                <div class="col-sm-6 col-lg-8">
                                    <div class="form-group">
                                        <!-- <label>Title Page</label> -->
                                        <input type="file" value="" placeholder="Images" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-lg-3">
                                </div>
                                <div class="col-sm-6 col-lg-8">
                                    <div class="form-group">
                                        <a href="#/" class="btn btn-primary btn-round btn-sm" >Save</a>
                                        <a href="#/administrator" class="btn btn-primary btn-simple btn-round btn-sm" >Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>